#header {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#header p{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}
#logo {
    margin-bottom: 1rem;
}
#mouseIcon {
    margin: auto auto 5vh auto;
    animation: bounce 2s infinite;
}

#mouseIcon:hover {
    animation-play-state: paused;
}

@-webkit-keyframes bounce {
    0% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-5px)
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-5px)
    }
}

/* Second Section */
.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutUs {
    height: auto;
    min-height: 40vh;
    width: 100%;
    padding: 1rem;
}#services-wrapper {
    padding: 1rem;
    position: relative;
}

#services {
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 40vh;
    width: 100%;
    position: absolute;
    left: 0;
}